{
    "jsc": {
      "target": "es2017",
      "parser": {
        "syntax": "typescript",
        "decorators": true
      },
      "baseUrl": "./src"
      // "paths": {
      //     "#seedwork/*": [
      //         "./@seedwork/*"
      //     ],
      //     "#category/*": [
      //         "./category/*"
      //     ]
      // }
    }
  }